# {{ ansible_managed }}

alias aliases='cat ~/.bashrc | grep "alias"'
alias cp='cp -i'
alias less='less -R'
alias mkdir='mkdir -pv'
alias more='less'
alias mv='mv -i'
alias ping='ping -c 5'
alias rm='rm -i'